{% extends "ui/base.html" %}
{% load static %}

{% block title %}{% block wiki_title %}aether.db{% endblock %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'wiki/wiki.css' %}">
{% block head %}{% endblock %}
{% endblock %}

{% block head_extra %}
<script src="{% static 'wiki/wiki.js' %}" defer></script>
{% endblock %}

{% block body_attrs %} class="{% block body_class %}{% endblock %}"{% endblock %}

{% block body %}
<main class="page">
{% block content %}{% endblock %}
</main>
{% endblock %}