{% extends "ui/base.html" %}
{% load static %}

{% block lang %}en{% endblock %}
{% block title %}AetherOS.BOOT{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'boot/boot.css' %}">
{% endblock %}

{% block body %}

<div id="boot-screen">
    <div id="boot-terminal">
        <div id="boot-output"></div>
        <span id="boot-cursor"></span>
    </div>
</div>

{% endblock %}

{% block js %}
{{ boot_config|json_script:"boot-config" }}
<script src="{% static 'boot/boot.js' %}"></script>
{% endblock %}